# Pandas exercises
### Fundamental Principles of Pandas:

**Data Structures:**
* Understand two primary data structures: Series (1D) and DataFrame (2D).
* Create Series and DataFrames from various data sources.

**Data Access:**
* Access data in Series and DataFrames using indexing and slicing.
* Use boolean indexing to filter data based on conditions.

**Data Cleaning:**
* Handle missing data using methods like dropna() or filling with fillna().
* Remove duplicate rows using drop_duplicates().

**Data Transformation:**
* Perform operations like filtering, sorting, and merging DataFrames.
* Apply functions element-wise using apply().

**Aggregation and Grouping:**
* Group data based on one or more columns and apply aggregation functions.
* Use groupby() and agg() for this purpose.

**Data Visualization:**
* Visualize data using built-in plotting functions.
* Plot data trends, distributions, and relationships.

**Data Input and Output:**
* Read data from various sources (CSV, Excel, SQL databases) using Pandas.
* Write data to different file formats.

**Time Series Data:**
* Handle time-based data using the datetime data type and functions.
* Resample and aggregate time series data.

**Indexing and Hierarchical Indexing:**
* Learn about indexing, resetting indexes, and hierarchical indexing in DataFrames.

**Merging and Joining DataFrames:**
* Combine DataFrames using methods like merge() and join() based on keys or indices.

Now, here are 10 exercises based on these principles for you to solve:

In [9]:
# 1. Create a DataFrame from a dictionary containing information about people 
# (name, age, city).
import pandas as pd
import numpy as np
people = {
    'name' : ['dani', 'Luke','Iman','Andrew', 'Tristan'],
    'age' : [23, 34, 23, np.nan, np.nan ],
    'city' : ['Morelia','Miami','Dubai','Roma', 'Paris']
}
df = pd.DataFrame(people)
df
# :)

      name   age     city
0     dani  23.0  Morelia
1     Luke  34.0    Miami
2     Iman  23.0    Dubai
3   Andrew   NaN     Roma
4  Tristan   NaN    Paris

In [10]:
# 2. Access the age column of the DataFrame created in Exercise 1.
df['age']
# :)

0    23.0
1    34.0
2    23.0
3     NaN
4     NaN
Name: age, dtype: float64

In [ ]:
# 3. Replace missing age values in the DataFrame with the mean age.
# I had to create two more rows.